
.navbar {
    transition: background-color 0.3s ease;
}


.navbar-brand {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #218838 !important;
}

.nav-link {
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #218838 !important;
}

.navbar-toggler {
    border: none;
    transition: transform 0.3s ease;
}

.navbar-toggler:focus {
    outline: none;
    transform: rotate(90deg);
}



.dropdown:hover .dropdown-menu {
    display: block;
}
#informationDropdown::after {
    display: none;
}


.contact-us-section {
    height: 50vh;
    background-image: url('imgs/carousel/saxophone-6192863_1280.jpg');
    background-size: cover;
    background-position: center;
    position: relative;
    margin-bottom: 50px;
}

.contact-us-section .overlay {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 100px;
}

.contact-us-section h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.contact-us-section .lead {
    font-size: 1.25rem;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.6);
}
.contact-us-section .lead{
    font-size: 1.25rem;
    padding: 50px;
    color: bl;
    /* give it a background gradient */
    background: linear-gradient(to bottom, #0e101070, rgba(50, 2, 50, 0.411))
}


/* Blink animation for caret */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


@media (max-width: 767px) {
    .hero-section {
        position: relative;
        height: 50vh;
    }
    .hero-title {
        font-size: 2rem;
        font-weight: bold;
    }
    .hero-content {
        position: absolute;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 2;
    }
    #typed-output{
        font-size: 1.1rem;
        text-align: center;
        font-weight: 300;
    }
    .hero-carousel {
        height: 100vh;
    }
    
}
.text-justify {
    text-align: justify;
}

.carousel-item img {
    height: 60vh;
    object-fit: cover;
}
.card-img-top {
object-fit: cover;
}
.carousel-item .card-img-top {
object-fit: cover;
}


/* Animation for content appearing from the bottom */
@keyframes slideInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeInUp {
    animation: slideInUp 0.8s ease-out forwards;
}

/* Initially hide the elements */
.hidden {
    opacity: 0;
    transform: translateY(80px);
}
