
.navbar {
    transition: background-color 0.3s ease;
}


.navbar-brand {
    font-size: 1.5rem;
    transition: color 0.3s ease;
}

.navbar-brand:hover {
    color: #218838 !important;
}

.nav-link {
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #218838 !important;
}

.navbar-toggler {
    border: none;
    transition: transform 0.3s ease;
}

.navbar-toggler:focus {
    outline: none;
    transform: rotate(90deg);
}



.dropdown:hover .dropdown-menu {
    display: block;
}
#informationDropdown::after {
    display: none;
}


.hero-section {
    position: relative;
    height: 50vh;
    margin-bottom: 8rem;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2;
}
.hero-carousel {
    height: 100vh;
}
.hero-carousel img {
    height: 100%;
    object-fit: cover;
    filter: brightness(60%);
}


.typed-cursor {
    font-family: monospace; /* Consistent font-family for caret */
    font-size: 1em; /* Consistent font-size */
    position: relative; /* Absolute positioning */
    right: 0; /* Align caret to the end of the text */
    top: 0; /* Align caret to the top of the text */
    margin-left: 2px; /* Space between text and caret */
    animation: blink 1s infinite; /* Blink animation */
}

/* Blink animation for caret */
@keyframes blink {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}


@media (max-width: 767px) {
    .hero-section {
        position: relative;
        height: 50vh;
    }
    .hero-title {
        font-size: 2rem;
        font-weight: bold;
    }
    .hero-content {
        position: absolute;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 100%;
        z-index: 2;
    }
    #typed-output{
        font-size: 1.1rem;
        text-align: center;
        font-weight: 300;
    }
    .hero-carousel {
        height: 100vh;
    }
    
}
.text-justify {
    text-align: justify;
}

.carousel-item img {
    height: 60vh;
    object-fit: cover;
}
.card-img-top {
object-fit: cover;
}
.carousel-item .card-img-top {
object-fit: cover;
}



/* Animation for content appearing from the bottom */
@keyframes slideInUp {
    from {
        transform: translateY(50px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.fadeInUp {
    animation: slideInUp .8s ease-out forwards;
}

/* Initially hide the elements */
.hidden {
    opacity: 0;
    transform: translateY(50px);
}
